.row {
    margin-top: 15px;
    max-width: 300px;
}

label {
    display: block;
}

input, select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

textarea {
    display: block;
}

button {
    background-color: #f1f5f9; 
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 70px;
}

button:hover {
    cursor: pointer;
    background-color: #d1d4d6;
}
